<h1>Platos</h1>
<hr>

<div class="card-columns">
    <div class="card animated fadeIn fast" style="width: 18rem;" *ngFor="let plato of platos; let i = index">
        <img height="200" width="630" src="{{plato.imagen}}" class="card-img-top" alt="">
        <div class="card-body">
            <h5 class="card-title" #nombre>{{plato.nombre}}</h5>
            <p class="card-text" #precio>{{plato.precio}}€</p>
            <a (click)="anadirPlato(plato)" class="btn btn-primary btn-block">Añadir a la cesta</a>
        </div>
    </div>
</div>

<hr>

<h1>Bebidas</h1>
<hr>

<div class="card-columns">
    <div class="card animated fadeIn fast" style="width: 18rem;" *ngFor="let bebida of bebidas; let i = index">
        <img height="200" width="630" src="{{bebida.imagen}}" class="card-img-top" alt="">
        <div class="card-body">
            <h5 class="card-title">{{bebida.nombre}}</h5>
            <p class="card-text">{{bebida.precio}}€</p>
            <a (click)="anadirBebida(bebida)" class="btn btn-primary btn-block">Añadir a la cesta</a>
        </div>
    </div>
</div>

<hr>

<h1>Postres</h1>
<hr>

<div class="card-columns">
    <div class="card animated fadeIn fast" style="width: 18rem;" *ngFor="let postre of postres; let i = index">
        <img height="200" width="630" src="{{postre.imagen}}" class="card-img-top" alt="">
        <div class="card-body">
            <h5 class="card-title" #nombre>{{postre.nombre}}</h5>
            <p class="card-text" #precio>{{postre.precio}}€</p>
            <a (click)="anadirPostre(postre)" class="btn btn-primary btn-block">Añadir a la cesta</a>
        </div>
    </div>
</div>