<h1>Buscando: <small>{{termino}}</small></h1>
<hr>

<div class="card-columns">
    <div class="card animated fadeIn fast" style="width: 18rem;" *ngFor="let producto of productos">
        <img height="200" width="630" src="{{producto.imagen}}" class="card-img-top" alt="">
        <div class="card-body">
          <h5 class="card-title">{{producto.nombre}}</h5>
          <p class="card-text">{{producto.precio}}€</p>
          <a href="#" class="btn btn-primary btn-block">Añadir a la cesta</a>
        </div>
      </div>
</div>
